<html>
    <head>
        <title>Jamie' Blog</title>
    </head>
    
    <div>
        <h1>
            <em>
                <strong>This is Heading</strong>
            </em>
        </h1>
    </div>
    
    {% for post in posts %}
    <div>
        <P>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
    
    <p>Hi there!</p>
    <p>This is Jamie Wei from Taiwan</p>
     
    <a href="https://www.google.com.tw/">link</a>
    
    <ul><li>Jamie</li><li>Nara</li></ul>
    
</html>
