{% extends 'blog/base.html' %}

{% block content %}
    
        <div class="post">
            <div class="posts">
                <p>Date/Time : <span id="datetime"></span></p>
                <script>
                    var dt = new Date();
                    document.getElementById("datetime").innerHTML = dt.toLocaleDateString() + " " + dt.toLocaleTimeString();
                </script>                
            </div>
            
            <div>
                <div class="input">
                    <form action="submit" method="post">
                        {% csrf_token %}
                        <input type="number" name="number1">
                        <p> + </p>
                        <input type="number" name="number2">
                        <p> = {{C}}</p>
                        <input type="submit" value="Submit">
                                               
                    </form>
                </div>
            </div>
        
            
        </div>
    
{% endblock %}
