.page-header {
    background-color: #474747;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #cc0000;
    font-size: 18pt;
    text-decoration: none;
}



